name: create-vectorize-index

on:
  workflow_dispatch: {}

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create Vectorize Index
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        run: |
          npx wrangler@latest vectorize create newsdata_rss --dimensions=1024 --metric=cosine
